{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5 pb-5">
        <h1>Каталог Авто</h1>

        <hr>

        <div class="row">
            <div class="col-4">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-8">
                <h2>Продажа новых автомобилей {{ brand ? brand.getName() | upper }} {{ model ? model.getName() }} в Санкт-Петербурге</h2>
            </div>
        </div>
    </div>
{% endblock %}
